name = "freshwax"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat_v2"]
pages_build_output_dir = "dist"

[[d1_databases]]
binding = "DB"
database_name = "freshwax-db"
database_id = "909e1932-1e20-4081-a37e-32cf355dec8f"

[[kv_namespaces]]
binding = "CACHE"
id = "349d1fd00f3d4de9811529cc96fd4d8b"