name = "freshwax"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "dist"

[[d1_databases]]
binding = "DB"
database_name = "freshwax-db"
database_id = "909e1932-1e20-4081-a37e-32cf355dec8f"